.container {
    max-width: 960px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Clear the float */
  
  }
  
  .column {
  
      background: red;
    width: 50%; 
    float: left; 
    /*padding: 20px; */
    box-sizing: border-box; 
  }
  .timeline-text, .timeline-image{
     height: 40vw;
        width: auto;
  
  
  }
  .timeline-image{
    background-size: cover;
     
  background-position: center;
  
  
  }
  .text-box{
  
      padding: 30px;
  }
  
  .dot{
  transform: translate(-13px,-10px);
  background: blue;
  width: 20px;
  height: 20px;
  position: absolute;
  
  border-radius: 100%;
  
  border: 3px solid  green;
  }
  
  
  .line{
  transform: translate(-3.5px,-10px);
  background: pink;
  width: 7px;
  height: 100%;
  position: absolute;
  
  
  }

  body{
    margin:0;
    padding:0;
}


/* navbar */
.topnav {
position: fixed;
width: 100%;
overflow: hidden;
background-color: #333;
z-index:9999;
/*position: relative;*/

}

.topnav #myLinks {
display: none;
}

.topnav a, .topnav .bar  {
color: white;
text-decoration: none;
font-size: 17px;
display: block;

}

.topnav a{

padding: 14px 16px;

}
.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
padding: 7px 11px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.bar {
background-color: #04AA6D;
color: white;
}
.bar:hover {
background-color: #04AA6D;

}





.menu-offset-container{
padding-top: 80px;
}








.map-container{
margin:  0 auto;
width:375px;
height: 1770px;
}
.map-dot{
    cursor:pointer;
    background: red;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 3px solid  green;
}
.map-text{
   border-top: solid 7px green;
   border-left: solid 3px green;
    pointer-events: none;
    background: pink;
    position: absolute;
    height: 200px;
    width: 200px;
    transition: opacity ease-in-out 0.3s;
    opacity: 0;
}
.map-shown{
   opacity: 1;
}
.map-text h3{
   border-bottom: solid 3px green;
   background: red;
   margin: 0;
   padding: 10px;
   display: inline-block;
}

body{
    margin: 0;
    padding: 0;
    }
    .header-image{
    
    background-image: url('opmaak/afb/opvul-afb/opvul-afb.jpg');
     background-size: cover;
       
    background-position: center;
    height: 70vh;
     }
    
     .article{
    
     max-width: 960px;
      margin: 0 auto;
    
    
    
    transform: translate(0px,-78px);
     }
    
    
     .article-text {
    border-top:5px solid blue;
    border-left:3px solid blue;
    margin:0 30px;
        background: #afafaf;
    
    /*padding:40px 30px;*/
    }
    
     .article-text  h1{
    padding: 20px;
    margin:0;
    background: pink;
    display: inline-block;
    border-bottom: 3px solid blue;
    
     }
    
    
    
    
     .article-text  p{
    
    margin:0;
    padding: 20px;
    
    
     }